<form action="http://127.0.0.1:5000/prediction" method="POST">


  <div>
    <label>Dependents</label>
    <input
      type="text"
      id="Dependents"
      name="Dependents"
      placeholder="0/1/2/3 or more"
    />
  </div>
  <br />
  <div>
    <label>Education</label>
    <input
      type="text"
      id="Education"
      name="Education"
      placeholder="Graduate/Not Graduate"
    />
  </div>
  <br />
  <div>
    <label>Self Employed Mean</label>
    <input
      type="text"
      id="Self Employed"
      name="Self Employed"
      placeholder="Yes/No"
    />
  </div>
  <br />
  <div>
    <label>Applicant Income</label>
    <input
      type="text"
      id="Applicant Income"
      name="Applicant Income"
      placeholder="Enter your income"
    />
  </div>
  <br />
  <div>
    <label>Coapplicant Income</label>
    <input
      type="text"
      id="Coapplicant Income"
      name="Coapplicant Income"
      placeholder="Enter the income of coapplicant"
    />
  </div>
  <br />
  <div>
    <label>Loan Amount(0-700)</label>
    <input
      type="text"
      id="Loan Amount"
      name="Loan Amount"
      placeholder="Enter the loan amount"
    />
  </div>
  <br />
  <div>
    <label>Loan Amount Term</label>
    <input
      type="text"
      id="Loan Amount Term"
      name="Loan Amount Term"
      placeholder="Enter the duration for loan"
    />
  </div>
  <br />
  <div>
    <label>Credit History</label>
    <input
      type="text"
      id="Credit History"
      name="Credit History"
      placeholder="Taken credit before: 1/0"
    />
  </div>
  <br />
  <div>
    <label>Property Area</label>
    <input
      type="text"
      id="Property Area"
      name="Property Area"
      placeholder="Rural/Semiurban/Urban"
    />
  </div>
  <br />
  <button type="submit">Get Prediction</button>
</form>
