<html>
<body>
<form action="/prediction" method="POST">


  <div>
    <label>Number of Dependents</label>
    <input
      type="text"
      id="Dependents"
      name="Dependents"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <div>
    <label>Whether graduated? Yes/No:</label>
    <input
      type="text"
      id="Education"
      name="Education"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <div>
    <label>Are you Self Employed?Yes/No:</label>
    <input
      type="text"
      id="Self Employed"
      name="Self Employed"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <div>
    <label>What is your Income?</label>
    <input
      type="text"
      id="Applicant Income"
      name="Applicant Income"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <div>
    <label>Enter income for coapplicant?</label>
    <input
      type="text"
      id="Coapplicant Income"
      name="Coapplicant Income"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <div>
    <label>Enter the loan amount you need?</label>
    <input
      type="text"
      id="Loan Amount"
      name="Loan Amount"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <div>
    <label>Duration of loan?</label>
    <input
      type="text"
      id="Loan Amount Term"
      name="Loan Amount Term"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <div>
    <label>Have you taken loan before?Yes/No:</label>
    <input
      type="text"
      id="Credit History"
      name="Credit History"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <div>
    <label>In which area are you from?Rural/Semiurban/Urban</label>
    <input
      type="text"
      id="Property Area"
      name="Property Area"
      placeholder="Enter here" required
    />
  </div>
  <br />
  <button type="submit">Get Prediction</button>
</form>
</body>

<script>
console.log("working")
</script>
</html>
